.cart__container {
    position: relative;
    
    .cart__navbar-button {
        background-color: transparent;
        border: none;
        border-radius: 0.5rem;
        color: $black;
        font-size: 1.25rem;
        height: 2.5rem;
        width: 2.5rem;
        &:hover {
            color: $Bright-Blue-hover;
        }
    }
    .cart__badge {
        background-color: $primary-color;
        border: 1px solid $white;
        color: $white;
        position: absolute;
        right: -0.25rem;
        top: -0.25rem;
        font-size: 0.75rem;
        border-radius: 100%;
        height: 1.25rem;
        width: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.modal__overlay {
    .modal__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .modal__content {
            display: flex;
            flex-direction: column;
            align-items: right;
            width: 280px;
            .modal__product {
                display: flex;
                align-items: center;
                padding: 0;
                border-bottom: 1px solid hsl(220deg, 14%, 75%);
            }

            .modal__product-image {
                height: 100px;
                width: 120px;
                margin-right: 0px;
            }
            .modal__product-details {
                width: 170px;
                height: 140px;
                margin-left: 20px;
                .modal__product-detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    .modal__title {
                        padding: 0.8rem 0 0 0;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        font-size: 18px;
                        .product-name {
                            font-weight: bold;
                            align-self: flex-start;
                            margin: 0;
                            color: $Very-Dark-Blue;
                        }
                        .trash-button {
                            color: lighten(#ff5733, 20%);
                            background-color: transparent;
                            border: none;
                            transition: color 0.3s ease;
                            &:hover {
                                color: #ff5733;
                            }
                        }
                    }
                    .modal__product-price {
                        p {
                            margin: 8px 0;
                            span {
                                font-weight: lighter;
                                color: $black;
                            }
                        }
                    }

                    .modal__product-subtotal {
                        p {
                            font-style: italic;
                            margin: 8px 0 8px 0;
                            color: $Very-Dark-Blue;
                            span {
                                font-weight: lighter;
                                color: $black;
                            }
                        }
                    }
                }
                .counter__container {
                    margin-top: 20px;
                }
            }
        }
        .modal__total-container {
            text-align: right;
            margin: 0.4rem 0;
            font-size: larger;
            font-weight: bold;
            p {
                margin: 1.5rem 0;
                text-align: right;
                span {
                    color: $black;
                }
            }
        }
        .modal__cupon {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            text-align: center;
            gap: 0px;
            height: 1.75rem;
            .cupon-input {
                width: 110px;
                font-size: 0.7rem;
            }
            .cupon-btn {
                background-color: $Bright-Blue-hover;
                border: none;
                border-radius: 0.1rem;
                color: $white;
                font-size: 0.7rem;
                width: auto;
                &:hover {
                    background-color: lighten(
                        $color: $Very-Dark-Blue,
                        $amount: 20
                    );
                }
            }
        }
        .modal__buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
            .clear__button {
                background-color: lighten(#dc3545, 20%);
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: #c82333;
                }
            }
            .checkout__button {
                background-color: lighten(#28a745, 20%);
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: #218838;
                }
            }
        }
    }
}
