.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 320px;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
        width: 70%;
        max-width: 700px;    
        gap: 2rem;
        justify-content: center;
    }
    
    .input-group__container {
        display: flex;
        flex-direction: column;
        width: 280px;
        .label-icon-container {
            display: flex;
            align-items: center;
            height: 18px;
        }

        .label-text {
            color: $black;
            font-weight: bold;
            margin-left: 5px;
        }

        .validation-icon {
            font-size: 1rem;
            margin-left: 5px;
        }

        .valid-icon {
            color: green;
        }

        .invalid-icon {
            color: red;
        }

        input,
        textarea {
            padding: 8px 30px 8px 15px;
            border-radius: 4px;
            border: 1px solid #ccc;
            transition: border-color 0.3s ease;
            margin-top: 5px;
            width: 100%;
            box-sizing: border-box;

            &:focus {
                border-color: dodgerblue;
            }
        }

        textarea {
            resize: vertical;
        }

        .password-container {
            display: flex;
            align-items: center;
            width: 100%;

            .password-input {
                flex: 1;
                border-radius: 20px;
                padding-right: 40px;
            }
        }

        .error-container {
            height: 20px;
            margin-bottom: 10px;

            .error-message {
                margin: 0 10px 0 10px;
                color: red;
                font-size: xx-small;
                align-self: flex-start;
                text-align: justify;
            }
        }
    }
    .form__buttton-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        .form__button-submit {
            align-items: flex-end;
            width: 7rem;
            padding: 10px;
            background-color: lighten(dodgerblue, 20%);
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #007bff;
            }

            &:last-child {
                margin: 0px;
            }
        }
    }
}

.form__button {
    align-items: flex-end;
    font-size: x-small;
    width: 7rem;
    padding: 10px;
    background-color: lighten(dodgerblue, 20%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #007bff;
    }

    &:last-child {
        margin: 0px;
    }
}
.form-layout__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}