.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    height: 100%; 
    margin-bottom: 150px;
    h2 {
        color: $Very-Dark-Blue;
        margin-bottom: 40px;
        font-family: "matura", sans-serif;
        font-weight: 400;
        text-decoration: underline;
    }
    .form__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;



    .input-group__container {
        @media screen and (min-width: 768px) {
            justify-content: center;                
            width: calc(50% - 1rem);
            }
    }
}
}
