
// Colors
$primary-color: #e15e6e;
$secondary-color: #c3e6d4;
$terciary-color: #e0c4ae;

$background-color: hsl(207deg, 100%, 98%);
;
$background-overlay: #222222cc;

$primary-hover: #e1918e;
$secondary-hover: #a1d3b9;
$terciary-hover: #e4b28d;

$typography-color: #4a4a4a;
$typography-link-hover: #456655;

$white: #FEFEFE;
$black: #222;

$Pale-orange: hsl(25, 100%, 94%);
$Very-vark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(216, 8%, 88%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Black-modal: hsl(0, 0%, 0%, 0.5);
$Very-Dark-Blue: hsl(243, 86%, 20%);
$Bright-Blue-hover: hsl(224, 93%, 68%);

// ### Social networks
$Facebook: #1877f2;
$Instagram: #e1306c;
$Whatsapp: #25D366;
$Youtube: #ff0000;


// Typography sizes
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$navbar-height: 4.5rem;
$footer-height: 2.5rem;